<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
<meta charset="UTF-8">

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Cadastro de canil</title>
</head>
<body>

	<nav>
		<div class="nav-wrapper" style="background-color: black;">
			<img alt="logo" src="/imgs/logoDog3.png" width="4.5%">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/listaCanis/1"
					class="waves-effect waves-light btn" style="background-color:#ffd600"><i
						class="material-icons right">chrome_reader_mode</i>canil</a></li>
				<li><a href="/listaAdmin/1"
					class="waves-effect waves-light btn" style="background-color:#ffd600"><i
						class="material-icons right">chrome_reader_mode</i>adm</a></li>
				<li><a href="/CadUsuarioAdmin"
					class="waves-effect waves-light btn" style="background-color:#ffd600"><i
						class="material-icons right">control_point</i>adm</a></li>
				<li><a href="/CadCanis" class="waves-effect waves-light btn" style="background-color:#ffd600"><i
						class="material-icons right">control_point</i>canil</a></li>
				<li><a class="waves-effect waves-light btn" style="background-color:#ffd600"><i
						class="material-icons center">directions_run</i></a></li>
			</ul>
		</div>
	</nav>
<body>
	<div class="testbox" )>
		<form action="salvarCanis" method="post" enctype="multipart/form-data">

			<div class="row" style="margin: 10px;">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s4">
							<i class="material-icons prefix">account_circle</i> <input
								placeholder="Nome do canil" id="nome_canil" name="nome"
								type="text" class="validate"> <label for="nome_canil">Nome
								do canil<span>*</span>
							</label>
						</div>

						<div class="input-field col s4">
							<i class="material-icons prefix">description</i> <input
								placeholder="Descrição" id="descricao_canil"
								name="descricao" type="text" class="validate"> <label
								for="descricao_canil">Descrição<span>*</span></label>
						</div>

						<div class="input-field col s4">
							<select class="browser-default" name="tipo.id">
								<option th:each="c: ${tipos}" th:text="${c.nome}"
									th:value="${c.id}" th:selected="${c.id == canil?.tipo?.id}"></option>

							</select>
						</div>

					</div>

					<div class="row">
						<div class="input-field col s3">
							<i class="material-icons prefix">phone</i> <input
								placeholder="Telefone" id="tel_canil" name="telefone"
								type="text" class="validate"> <label for="tel_canil">Telefone<span>*</span></label>
						</div>

						<div class="input-field col s3">
							<i class="material-icons prefix">attach_money</i> <input
								placeholder="Formas de Pagamento" id="formasPag"
								name="formasPagamento" type="text" class="validate"> <label
								for="formasPag">Formas de Pagamento<span>*</span></label>
						</div>

						<div class="input-field col s3">
							<i class="material-icons prefix">computer</i> <input
								placeholder="Site" id="site" name="site" type="text"
								class="validate"><label for="site">Site</label>
						</div>

						<div class="input-field col s3">
							<i class="material-icons prefix">phone</i> <input
								placeholder="Atracoes" id="atracoes" name="atracoes" type="text"
								class="validate"> <label for="atracoes">Atrações</label>
						</div>
					</div>

					<div class="row">

						<div class="input-field col s3">
							<i class="material-icons prefix">map</i> <input placeholder="CEP"
								id="cep" name="cep" type="text" class="validate"> <label
								for="cep">CEP<span>*</span></label>
						</div>

						<div class="input-field col s3">
							<i class="material-icons prefix">gps_fixed</i> <input
								placeholder="Endereço" id="rua" name="rua" type="text"
								class="validate" readonly="readonly"> <label
								for="endereco">Endereço</label>
						</div>

						<div class="input-field col s3">
							<i class="material-icons prefix">gps_fixed</i> <input
								placeholder="Cidade" id="cidade" name="cidade" type="text"
								class="validate" readonly="readonly"> <label
								for="cidade">Cidade</label>
						</div>

						<div class="input-field col s3">
							<i class="material-icons prefix">gps_fixed</i> <input
								placeholder="Estado" id="uf" name="estado" type="text"
								class="validate" readonly="readonly"> <label for="uf">Estado</label>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s3">
							<i class="material-icons prefix">time_to_leave</i> <label>
								<input type="checkbox" name="estacionamento" /> <span>Estacionamento</span>
							</label>
						</div>

						<div class="input-field col s3">
							<i class="material-icons prefix">pets</i> <label><input
								type="checkbox" name="delivery" /> <span>Delivery</span> </label>
						</div>

						<div class="input-field col s3">
							<i class="material-icons prefix">accessible</i> <label><input
								type="checkbox" name="acessibilidade" /> <span>Acessibilidade</span> </label>
						</div>

						<div class="input-field col s3">
							<label>Preço Médio R$</label>
							<p class="range-field">
								<input type="range" id="test5" min="500" max="16000" name="preco" />
							</p>
						</div>
					</div>



					<div class="input-field col s4">

						<div class="file-field input-field">
							<div class="btn"
								style="background-color: black; border-radius: 2em";>
								<input type="file" name="fileFotos" multiple accept="image/*"><i
									class="material-icons center">cloud_upload</i>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text"
									placeholder="Upload de arquivos">
							</div>
						</div>
					</div>
			</div>



			<div class="input-field col s4">
				<div>
					<button type="submit"
						style="border: none; background-color: white; margin-left: 50%">
						<a class="btn-floating btn-large black pulse"><i
							class="material-icons">save</i></a>
					</button>
				</div>
			</div>

			<footer class="page-footer" style="background-color: #4e342e;">
				<div class="container">
					<div class="row">
						<div class="col l6 s12">
							<h5 class="white-text">Desenvolvido por Luiz Ortiz</h5>
							<p class="grey-text text-lighten-4">Desenvolvedor Full-Stack</p>
						</div>
						<div class="col l4 offset-l2 s12">
							<h5 class="white-text">Redes</h5>
							<ul>
								<li><a class="grey-text text-lighten-3" target="_blank"
									href="https://www.linkedin.com/in/luiz-ortiz-024b9789/"><img alt="1" src="/imgs/linkedin.png" width="10%" ></a></li>
								<li><a class="grey-text text-lighten-3" target="_blank"
									href="https://github.com/LuizOrtiz96"><img alt="2" src="/imgs/733609.png" width="10%"></a></li>

							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright" style="background-color: #ffd600; color: black;">
					<div class="container" style="text-align: center;">
						© 2022 Copyright <a class="grey-text text-lighten-4 right"></a>
					</div>
				</div>
			</footer>
		</form>
	</div>


	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').formSelect();
		});
	</script>
	<!-- Jquery :) -->


</body>
<script src="javascript/cep.js"></script>
</html>