<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
<meta charset="UTF-8">

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<link href="style/CadTipo.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Cadastro de canis</title>
</head>
<body>

	<header th:replace="fragments/padrao :: cabecalho"></header>
	<br />
	<br />


	<div class="form-wrap">
		<div class="tabs">
			<h3 class="signup-tab">
				<a class="active" href="#signup-tab-content">Cadastro de tipos
					de canil</a>
			</h3>

		</div>
		

		<div class="tabs-content">
			<div id="signup-tab-content" class="active">
				<form class="signup-form" action="salvarCanil" method="post">

					<input type="hidden" name="id" th:value="${canil?.id}"> <i
						class="material-icons">pets</i><input type="text" class="input"
						name="nome" th:value="${canil?.nome}" autocomplete="off"
						placeholder="Digite o tipo de cão em seu canil"> <i
						class="material-icons">pets</i><input type="text" class="input"
						name="descricao" th:value="${canil?.descricao}" autocomplete="off"
						placeholder="Digite a descrição do seu Canil"> <i
						class="material-icons">pets</i> <input type="text" class="input"
						name="palavrasChave" th:value="${canil?.palavrasChave}"
						autocomplete="off"
						placeholder="Digite as palavras chave do seu canil"> <input
						type="submit" class="button" value="Salvar" style="background-color: #ffd600"> <br>
					<br>
					<div th:replace="fragments/mensagem"></div>


				</form>
				
</body>
</html>