<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
<meta charset="UTF-8">

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<link href="style/CadTipo.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Cadastro de canis</title>
</head>
<body>

	<nav>
		<div class="nav-wrapper" style="background-color: black;">
			<img alt="logo" src="/imgs/logoDog3.png" width="4.5%">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
			
			<li><a href="/CadUsuarioAdmin"
					class="waves-effect waves-light btn"
					style="background-color: #ffd600"><i
						class="material-icons right">control_point</i>adm</a></li>
						
						<li><a href="/CadCanis" class="waves-effect waves-light btn"
					style="background-color: #ffd600"><i
						class="material-icons right">control_point</i>tipo</a></li>
						
						<li><a href="/formCanil" class="waves-effect waves-light btn"
					style="background-color: #ffd600"><i
						class="material-icons right">control_point</i>canil</a></li>
			
			<li><a href="/listaAdmin/1"
					class="waves-effect waves-light btn"
					style="background-color: #ffd600"><i
						class="material-icons right">chrome_reader_mode</i>adm</a></li>
									
				<li><a href="/listaCanis/1"
					class="waves-effect waves-light btn"
					style="background-color: #ffd600"><i
						class="material-icons right">chrome_reader_mode</i>tipo</a></li>
				
				<li><a href="/listaCanis/1"
					class="waves-effect waves-light btn"
					style="background-color: #ffd600"><i
						class="material-icons right">chrome_reader_mode</i>canil</a></li>
				
				<li><a class="waves-effect waves-light btn"
					style="background-color: #ffd600"><i
						class="material-icons center">directions_run</i></a></li>
			</ul>
		</div>
	</nav>


	<div class="form-wrap">
		<div class="tabs">
			<h3 class="signup-tab">
				<a class="active" href="#signup-tab-content">Cadastro de tipos
					de canil</a>
			</h3>

		</div>
		

		<div class="tabs-content">
			<div id="signup-tab-content" class="active">
				<form class="signup-form" action="salvarCanil" method="post">

					<input type="hidden" name="id" th:value="${canil?.id}"> <i
						class="material-icons">pets</i><input type="text" class="input"
						name="nome" th:value="${canil?.nome}" autocomplete="off"
						placeholder="Digite o tipo de cão em seu canil"> <i
						class="material-icons">pets</i><input type="text" class="input"
						name="descricao" th:value="${canil?.descricao}" autocomplete="off"
						placeholder="Digite a descrição do seu Canil"> <i
						class="material-icons">pets</i> <input type="text" class="input"
						name="palavrasChave" th:value="${canil?.palavrasChave}"
						autocomplete="off"
						placeholder="Digite as palavras chave do seu canil"> <input
						type="submit" class="button" value="Salvar" style="background-color: #ffd600"> <br>
					<br>
					<div th:replace="fragments/mensagem"></div>


				</form>
				
</body>
</html>