<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
<meta charset="UTF-8">
<link href="style/CadAdmin.css" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Cadastro de usúario administrador</title>
</head>
<body>

	<nav>
		<div class="nav-wrapper" style="background-color: black;">
			<img alt="logo" src="/imgs/logoDog3.png" width="4.5%">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/listaCanis/1"
					class="waves-effect waves-light btn" style="background-color:#ffd600"><i
						class="material-icons right">chrome_reader_mode</i>canil</a></li>
				<li><a href="/listaAdmin/1"
					class="waves-effect waves-light btn" style="background-color:#ffd600"><i
						class="material-icons right">chrome_reader_mode</i>adm</a></li>
				<li><a href="/CadUsuarioAdmin"
					class="waves-effect waves-light btn" style="background-color:#ffd600"><i
						class="material-icons right">control_point</i>adm</a></li>
				<li><a href="/CadCanis" class="waves-effect waves-light btn" style="background-color:#ffd600"><i
						class="material-icons right">control_point</i>canil</a></li>
				<li><a class="waves-effect waves-light btn" style="background-color:#ffd600"><i
						class="material-icons center">directions_run</i></a></li>
			</ul>
		</div>
	</nav>


	<div class="form-wrap">
		<div class="tabs">
			<h3 class="signup-tab">
				<a class="active" href="#signup-tab-content">Cadastro de
					Adminstrador</a>
			</h3>

		</div>
		

		<div class="tabs-content">
			<div id="signup-tab-content" class="active">
				<form class="signup-form" action="salvarAdmin" method="post">
				
					<input type="hidden" name="id" th:value="${administrador?.id}">
					
					<i class="material-icons">person</i><input type="text"class="input" name="nome" 
					th:value="${administrador?.nome}"id="user_name" autocomplete="off" placeholder="Digite seu nome">
					
					<i class="material-icons">mail</i><input type="email" class="input" name="email" 
					th:value="${administrador?.email}" id="user_email"	autocomplete="off" placeholder="Digite seu e-mail">
					
					 <i	class="material-icons">lock_outline</i> <input type="password" class="input" name="senha" id="user_pass" autocomplete="off"
						placeholder="Digite sua senha">
						
						<input type="submit" class="button" value="Salvar">
						
						<br><br>
					<div th:replace="fragments/mensagem"></div>



				</form>
				
</body>
</html>