<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
<meta charset="UTF-8">
<link href="style/CadAdmin.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Cadastro de usúario administrador</title>
</head>
<body>




	<div class="form-wrap">
		<div class="tabs">
			<h3 class="signup-tab">
				<a class="active" href="#signup-tab-content">Cadastro de
					Adminstrador</a>
			</h3>

		</div>

		<div class="tabs-content">
			<div id="signup-tab-content" class="active">
				<form class="signup-form" action="salvarAdmin" method="post">
					<i class="material-icons">person</i><input type="text"
						class="input" name="nome" th:value="${administrador?.nome}" id="user_name" autocomplete="off"
						placeholder="Digite seu nome"> <i class="material-icons">mail</i><input
						type="email" class="input" name="email" th:value="${administrador?.email}" id="user_email"
						autocomplete="off" placeholder="Digite seu e-mail"> <i
						class="material-icons">lock_outline</i><input type="password"
						class="input" name="senha" id="user_pass" autocomplete="off"
						placeholder="Digite sua senha"> <input type="submit"
						class="button" value="Salvar"><br> <br>
					<div th:replace="fragments/mensagem"></div>


				</form>
</body>
</html>