<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="cabecalho">
		<nav>
			<div class="nav-wrapper" style="background-color: black;">
				<img alt="logo" src="/imgs/logoDog.png" width="5%">
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li style="background-color: white; color: black;"><a class="waves-effect waves-light btn">Administradores</a></li>
					<li><a class="waves-effect waves-light btn"><i
							class="material-icons right">directions_run</i>Sair</a></li>

				</ul>

			</div>

		</nav>
	</header>
</body>
</html>